footer.site.site-footer.section-key.section-padded
  .container-fluid
    .row
      .col-sm-12.text-center
        div.logo-km
          img.img-responsive(src='img/logo-keymarine.png', alt='Key Marine Direct Sales, Ltd')
    hr
    .row
      .col-sm-6.footer-main
        p
          strong: a(href='#{ company.url }') #{ company.name }
        address#company-address
          |  #{ company.address }
          br
          |  #{ company.city }, #{ company.state } #{ company.zip }
          br
          |  #{ company.country }
        p
          | Phone: #{ company.phone }
          br
          | Fax: #{ company.fax }
      .col-sm-6.footer-extra
        ul.list-unstyled
          li: a(href='#') The Product
          li: a(href='#') Sub System
          li: a(href='#') About
          li: a(href='#') Contact
    hr
    .row
      .col-sm-12.text-center
        p.copyright Site contents &copy; #{ new Date().getFullYear() }
          | &nbsp;
          a(href='#{ company.url }') #{ company.name }
