section#installation.section-padded.section-key
  .container-fluid
    .page-header.text-center
      h2= blocks.installation.title
    .row
      .col-sm-12.text-center
        p.lead= blocks.installation.body
    .row
      each item in blocks.installation.hydro.images
        .col-sm-3.wow.fadeInDown.text-center
          .thumbnail
            img.img-responsive(src='img/#{ blocks.installation.hydro.imagesPath }/#{ item.image }', alt='#{ item.caption }')
            .caption= item.caption
