!!!5
html(lang='#{ language }')
  head
    meta(charset='utf-8')
    title= site.name
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/animate.css') script(src='//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
    //- script(src='js/modernizr.js')

    //if lt IE 9
      script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#top

    header.site.site-header
      .container-fluid
        .row
          .col-sm-4.header-logo
            a(href='/')
              img(src='/img/logo.png', alt='#{ site.name }')
          .col-sm-8
            p.header-tagline= tagline

    nav.site.site-nav
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Menu
              i.icon-bar
              i.icon-bar
              i.icon-bar
          .collapse.navbar-collapse
            .navbar-left
              ul.nav.navbar-nav
                each item, key in navItems
                  li: a(href='#{ key }')= item
            .navbar-right
              ul.nav.navbar-nav
                if (language == 'en')
                  li: a(href='/es'): small Español
                else
                  li: a(href='/en'): small English

    .site-wrap
      .site.site-main
        != yield

    footer.site.site-footer.section-key.section-padded
      .container-fluid
        .row
          .col-sm-12.text-center
            p.copyright #{ copyrightLabel } &copy; #{ new Date().getFullYear() }
              | &nbsp;
              a(href='#{ company.url }') #{ company.name }

    script.
      window._tidalWrapLatitude = #{ company.latitude };
      window._tidalWrapLongitude = #{ company.longitude };
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.smooth-scroll.js')
    script(src='//maps.google.com/maps/api/js?sensor=true')
    script(src='/js/gmaps.js')
    script(src='/js/wow.js')
    script(src='/js/app.js')

    include _google-analytics.html
